.uk-breadcrumb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
  }
  .uk-breadcrumb > * {
    flex: none;
  }
  .uk-breadcrumb > * > * {
    display: inline-block;
    
  }
  .uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before {
    content: "";
    background: url('../../img/icons/arrow-breadcrumb.svg') no-repeat 0 0/100%;
    width: 6px;
    height: 12px;
    display: inline-block;
    margin: 0 16px;
  }