.complete {
  @media (max-width: 1199px) { 
   overflow: hidden;
  }
  &__title {
    font-family: "PTSans-bold";
    font-size: 32px;
    line-height: 41px;
    margin: 32px 0;
  }
  &__text {
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 64px 0;
    @media (max-width: 675px) { 
    width: 280px;
   }

  a {
    display: inline-block;
    text-decoration-line: underline;
    @media (min-width: 1199px) { 
      &:hover {
     color: #4541FE;
    }
   }
  }
  span {
    padding: 0 5px;
  }
  }
  &__recommend {
    font-family: "PTSans-bold";
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 24px;
  }
}