.contacts {
  &__header-block {
    margin: 0 138px;
    @media (max-width: 1490px) {
      margin: 0 84px;
    }
    @media (max-width: 950px) {
      margin: 0 ;
    }
  }
  .name {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #8E90A6;
    margin: 0;
  }
  .title {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #28293D;
    margin: 16px 0 24px;
    @media (max-width: 1250px) {
      font-size: 32px;
      line-height: 38px;
    }
    @media (max-width: 474px)  {
      font-size: 28px;
      line-height: 33px;
    }
  }
  .subtitle {
    font-size: 32px;
    line-height: 38px;
    color: #8B90A0;
    margin: 0;
    @media (max-width: 1250px) {
      font-size: 24px;
      line-height: 28px;
    }
    @media (max-width: 474px)  {
      font-size: 20px;
      line-height: 24px;
    }
  }
&__line {
position: relative;
 &::after {
 content: '';
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 2px;
 background-color:rgba(189, 189, 189, 0.3);
}
}
&__info {
background: #FFFFFF;
box-shadow: 0px 0px 1.33333px rgba(40, 41, 61, 0.04), 0px 2.66667px 5.33333px rgba(96, 97, 112, 0.16);
border-radius: 8px;
padding: 185px 127px 80px;
box-sizing: border-box;
margin-top: 109px;
@media (max-width: 1490px) {
  padding: 125px 84px 80px;
}
@media (max-width: 950px) {
  padding: 60px 26px;
}
@media (max-width: 474px) {
  margin-top: 88px;
 }
  .info {
  &__tel-block {
  display: flex;
  @media (max-width: 850px) {
    flex-direction: column;
  }
 }
 &__tel {
   flex: 1 0 auto;
   display: flex;
   flex-direction: column;
   margin-left: 100px;
   @media (max-width: 1250px) {
    margin-left: 65px;
  }
  @media (max-width: 950px) {
    margin-left: 0px;
  }
 }
 &__number {
  font-size: 40px;
  line-height: 47px;
  color: #555770;
  white-space: nowrap;
  padding-bottom: 18px;
  @media (max-width: 1250px) {
    font-size: 32px;
    line-height: 38px;
  }
  @media (max-width: 474px) {
    font-size: 26px;
    line-height: 31px; 
  }
 }
 &__office {
  font-size: 24px;
  line-height: 28px;
  color: #8E90A6;
  @media (max-width: 1250px) {
    font-size: 18px;
   line-height: 21px;
  }
  @media (max-width: 474px) {
    font-size: 16px;
    line-height: 19px;
  }
 }
 &__text {
  flex: 0 1 auto;
  max-width: 593px;
  @media (max-width: 1490px) {
    margin-left: 50px;
   }
   @media (max-width: 850px) {
    margin-left: 0;
    margin-top: 54px;
  }
  &_top {
    font-size: 24px;
    line-height: 150%;
    color: #7A7C96;
    margin: 0;
    @media (max-width: 1250px) {
      font-size: 20px;
    }
    @media (max-width: 474px) {
      font-size: 16px;
    }
  }
  &_bottom {
    white-space: nowrap;
    margin: 23px 0 82px;
    font-size: 18px;
    line-height: 150%;
    color: #8E90A6;
    @media (max-width: 850px) {
      margin: 23px 0 40px;
    }
    @media (max-width: 474px) {
      font-size: 16px;
    }
    br._media1 {
      @media (max-width: 1250px){
        display: none;
      }
    }
    br._media2 {
      @media (min-width: 1250px)  {
        display: none;
      }
      @media (max-width: 474px)  {
        display: none;
      }
    }
    br._media3 {
       @media (max-width: 474px){
        display: block;
      }
      @media (min-width: 474px){
        display: none;
      }
    }
  }
 }
 &__mails {
  display: flex;
  justify-content: space-around;
  padding: 42px 0 50px;
  @media (max-width: 950px){
    justify-content: space-between;
  }
  @media (max-width: 650px) {
    flex-direction: column;
    padding: 20px 0;
  }
  .mail {
    &__title {
      margin: 0 0 16px 0;
      font-size: 24px;
      line-height: 28px;
      color: #28293D;
      @media (max-width: 1250px) {
        font-size: 18px;
        line-height: 21px;
      }
      @media (max-width: 474px) {
        font-size: 16px;
        line-height: 19px;
      }
    }
    &__text {
      font-size: 28px;
     line-height: 33px;
     color: #555770;
     @media (max-width: 1250px) {
      font-size: 20px;
      line-height: 23px;
    }
    @media (max-width: 474px) {
      font-size: 18px;
      line-height: 21px;
    }
    }
    @media (max-width: 650px) {
      margin: 20px 0;
    }
  }
}
&__map-block {
  display: flex;
  justify-content: space-between;
  padding: 68px 0 0 0;
  @media (max-width: 650px) {
    flex-direction: column;
    padding: 36px 0 0 0;
  }
  .map-block {
  &__img {
    max-width: 760px;
    min-width: 230px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 1490px) {
    margin-right: 98px;
   }
   @media (max-width: 950px) {
    height: 260px;
    min-width: 236px;
    img {
      height: 100%;
    }
  }
  @media (max-width: 650px) {
    margin: 0 auto 40px auto;
  }
  }

  &__info {
  flex: 0 0 auto;
  max-width: 300px;
  @media (max-width: 950px) {
    max-width: 250px;
  }
  }
  &__title {
    font-size: 32px;
    line-height: 38px;
    color: #555770;
    font-weight: normal;
    margin: 0;
    @media (max-width: 1250px) {
      font-size: 24px;
      line-height: 28px;
    }
  }
  &__subtitle {
    font-size: 24px;
    line-height: 28px;
    color: #8E90A6;
    @media (max-width: 1250px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__city {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #555770;
    margin-top: 43px;
    display: block;
    @media (max-width: 1250px) {
      font-size: 18px;
      line-height: 21px;
    }
  }
  &__address {
    font-size: 20px;
    line-height: 24px;
    color: #8E90A6;
    @media (max-width: 1250px) {
      font-size: 16px;
      line-height: 19px;
    }
  }
  }
}
}
}
.bid {
  display: flex;
  justify-content: space-between;
  padding: 97px 127px;
  @media (max-width: 1490px) {
    padding: 68px 84px;
  }
  @media (max-width: 950px) {
    padding: 60px 0px;
  }
  @media (max-width: 570px) {
  flex-direction: column;
  }
&__bg {
  background: #EBEBF0;
  position: absolute;
  left: 0;
  margin: -170px 0 0 0;
  z-index: -1;
  width: 99vw;
  height: 730px;
  @media (max-width: 570px) {
  height: 1021px;
 }
 @media (max-width: 474px) {
  margin: -80px 0 0 0;
}
}
&__info {
flex: 0 1 auto;
max-width: 552px;
@media (max-width: 1490px) {
 margin-right: 62px;
}
}
&__text {
  margin-top: 58px;
  &_top {
    font-size: 20px;
    line-height: 26px;
    color: #555770;
    margin: 0;
    @media (max-width: 1250px) {
      font-size: 16px;
      line-height: 150%;
    }
  }
  &_bottom {
  font-size: 16px;
  line-height: 26px;
  color: #8B90A0;
  margin: 37px 0;
  @media (max-width: 1250px) {
    font-size: 14px;
    line-height: 150%;
  }
  }
}
.form {
    display: flex;
    flex-direction: column;
    max-width: 523px;
    width: 80%;
    margin-top: 30px;
    &__name,&__email, &__message,&__btn {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 24px;
    color: #737373;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 16px; 
    &:focus {
        border: 2px solid #FFFFFF;
      }
    }
    @media (max-width: 570px) {
      margin-top: 19px;
      width: 99%;
    }
    &__name,&__email {
      margin: 12px 0;
      height: 48px;
    }
    &__message {
      margin: 12px 0 56px 0;
      height: 100px;
      @media (max-width: 474px) {
        margin: 12px 0 40px 0;
      }
    }
    &__btn {
      background: #23C653;
      border: 1px solid #23C653;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      height: 76px;
      @media (max-width: 1250px) {
        height: 56px;
      }
      &:hover {
        border: 2px solid #464646;
      }
    }
}
}
.partners {
  display: flex;
  justify-content: space-between;
  padding: 195px 0 124px;
  @media (max-width: 1490px) {
    padding: 140px 0 112px;
  }
  @media (max-width: 570px) {
    padding: 108px 0 104px;
  }
  &__map {
    img {
      max-width: 100%;
    }
    @media (max-width: 1490px) {
      margin-right: 50px;
    }
    @media (max-width: 1250px) {
      max-width: 445px;
    }
    @media (max-width: 474px) {
      min-width: 288px;
      margin: 0;
    }
  }
  &__addresses {
    max-width: 720px;
  }
  &__row {
   display: flex;
   justify-content: space-between;
   margin-top: 40px;
   @media (max-width: 474px)  {
   flex-direction: column;
   margin-top: 0px;
   margin-left: 26px;
   &:after {
     display: none;
   }
  }
   &:first-of-type {
    margin-top: 126px;
   }
   :last-child {
   margin-right: 50px;
   }
  }
  .address {
    &__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #555770;
      margin: 0;
      @media (max-width: 1250px) {
        font-size: 20px;
        line-height: 23px;
        &:first-child {
          margin-right: 78px;
        }
      }
    }

    &__number {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #8E90A6;
      white-space: nowrap;
      display: block;
      margin: 14px 0;
      @media (max-width: 1250px) {
        font-size: 18px;
        line-height: 21px;
      }
    }
    &__text {
      font-size: 16px;
      line-height: 19px;
      color: #8E90A6;
      max-width: 234px;
      margin-bottom: 40px;
      @media (max-width: 1250px) {
        font-size: 14px;
        line-height: 16px;
      }
      @media (max-width: 1250px) {
        margin-bottom: 40px;
      }
    }
  }
}
}


.breadcrumb {
  margin: 115px 0 70px 0;
  @media (max-width: 474px) {
    margin: 80px 0 56px 0;
  }
  &__home {
    display: block;
    fill: rgb(255, 255, 255);
  }
  &__list {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
  }
  &__item {
    flex: none;
    display: inline-block;
      &:last-child > * {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #BBF6CC;
    }
    &:not(:first-child) {
     &::before {
      content: "";
      background: url('../../img/icons/arrow-news-green.svg') no-repeat 0 0/100%;
      transform: rotate(180deg);
      width: 9px;
      height: 15px;
      display: inline-block;
      margin: 0 16px;
    }
    }
  }
  &__link {
    display: inline-block;
    font-family: "Inter";
    font-size: 16px;
    line-height: 150%;
    color: #8E90A6;
  }
}



.title-block {
  margin-top: 73px;
  max-width: 633px;
  @media (max-width: 474px) {
    margin: 56px 0 0 0;
  }
&__title {
  font-weight: 500;
  font-size: 56px;
  line-height: 54px;
  color: #FFFFFF;
  margin: 0;
  @media (max-width: 1250px)  {
    font-size: 40px;
    line-height: 47px;
  }
  @media (max-width: 474px)  {
    font-size: 28px;
    line-height: 33px;
  }
}
&__subtitle {
  font-size: 40px;
  line-height: 47px;
  color: #C2C2C2;
  margin: 0;
  padding: 32px 0 72px;
  @media (max-width: 1250px)  {
    font-size: 32px;
    line-height: 38px;
  }
  @media (max-width: 474px)  {
    font-size: 24px;
    line-height: 28px;
  }
}
}