@font-face {
  font-display: swap;
  font-family: "Inter";
  src: local("Inter"),
    url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  src: local("Inter"),
    url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
    font-weight: 500;
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  src: local("Inter"),
    url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: local("Roboto"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: local("Roboto"),
    url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
}

.footer {
  flex: 0 0 auto;
  background: #8B90A0;
  color: #E3E4EB;
  padding: 60px 105px 0 95px;
  height: 520px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  @media (max-width: 1270px) {
    height: auto;
}
@media (max-width: 950px) {
  padding: 66px 42px 13px 42px;
}
  &__content {
    display: flex;
    max-width: 1305px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    @media (max-width: 1680px) {
      max-width: 1305px;
    }
    @media (max-width:680px) {
     flex-direction: column-reverse;
    }
  }
  &__left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__logo {
    @media (max-width: 680px) {
      display: none;
    }
  }
  .menu {
    display: flex;
    @media (max-width: 1270px) {
        flex-direction: column;
   }
    &__row {
       display: flex;
       margin-right: 65px;
       @media (max-width: 1270px) {
        margin-bottom: 85px;
   }
   @media (max-width: 950px) {
    margin-right: 0px;
  }
  @media (max-width: 767px) {
    margin-bottom: 52px;
  }
  @media (max-width: 680px) {
    justify-content: space-between;
  }
  @media (max-width: 474px) {
   flex-direction: column;
   margin-bottom: 0;
  }
    }
    &__title {
      margin-bottom: 16px;
      cursor: pointer;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
      display: inline-block;
      font-family: "Inter";
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 36px;
      color: #FFFFFF;
      margin: 0;
      }
      a {
        position: absolute;
        left: 0;
        z-index: 5;
        height: 100%;
        width: 100%;
        @media (min-width: 680px) {
         display: none;
       }
      }
      span {
        background: url('../../img/icons/arrow-footer.svg') no-repeat 0 0/100%;
        width: 12px;
        height: 8px;
        object-fit: contain;
        display: inline-block;
        @media (min-width: 680px) {
          display: none;
        }
      }
    }
    &__column {
      &:not(:last-child) {
        margin-right: 65px;
        @media (max-width: 1270px) {
         margin-right: 155px;
        }
        @media (max-width: 950px) {
         margin-right:70px;
       }
       @media (max-width: 474px) {
        margin-right:0px;
      }
      }
   @media (max-width: 950px) {
     max-width: 220px;
     width: 100%;
  }
  @media (max-width: 474px) {
    margin-bottom: 52px;
  }
    }
    &__list {
      li {
         margin: 12px 0;
         a {
        font-family: "Inter";
         font-size: 16px;
         line-height: 22px;
         color: #E3E4EB;
         @media (max-width: 767px) {
          font-size: 14px;
        }
         }
      }
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
  }
  &__tel {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #FEFEFF;
    margin-top: 70px;
    @media (max-width: 474px) {
      margin-top: 56px;
    }
  }
  &__mail {
    font-family: "Roboto";
    font-size: 18px;
    line-height: 21px;
    color: #E0E0E0;
    margin: 12px 0 40px;
    &::before {
      content: '';
      width: 26px;
      height: 26px;
      display: inline-block;
      margin-right: 20px;
      vertical-align: middle;
      background: url('../../img/icons/mail-footer.svg');
    }
  }
  &__btn {
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 24px;
    border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 4px;
}
  &__bottom-content {
    margin-top: auto;
    display: flex;
    max-width: 1305px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    position: relative;
    padding: 21px 0 32px;
    &:before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: rgba(189, 189, 189, 0.3);
      position: absolute;
      left: 0;
      top: 0;
      @media (max-width: 474px) {
        left: -24px;
        width: 110%;
      }
    }
    @media (max-width: 474px) {
     padding-bottom: 11px;
    }
    p {
      font-family: "Roboto";
      font-size: 16px;
      line-height: 19px;
      margin: 0;
      color: #C7C8D9;
      &:first-child {
        margin-bottom: 8px;
      }
   }
   @media (max-width: 1270px) {
    margin-top: 40px;
}
@media (max-width: 474px) {
  flex-direction: column;
}
  }
  &__copy {
    @media (max-width: 474px) {
      margin-bottom: 26px;
    }
  }
}



.hidden {
  display: none;
}

span.rotate {
  transform: rotate(180deg);
}