.main {
flex: 1 0 auto;
}

.info-block {
margin: 0;
max-width: 450px;
@media (max-width: 1490px) {
  max-width: 320px;
}
@media (max-width: 767px) {
 max-width: 98%;
}
}

.subtitle {
font-family: "Inter";
font-weight: 600;
font-size: 14px;
line-height: 17px;
letter-spacing: 2px;
text-transform: uppercase;
color: #B8B8B8;
}

.title {
font-family: "Rubik";
font-weight: normal;
font-size: 56px;
line-height: 66px;
color: #28293D;
margin: 10px 0 27px 0;
@media (max-width: 1490px) {
  font-size: 40px;
  line-height: 47px;
}
@media (max-width: 474px) {
  font-size: 32px;
line-height: 38px;
 }
}

.text {
font-family: "Rubik";
font-size: 40px;
line-height: 47px;
color: #8E90A6;
@media (max-width: 1490px) {
  font-size: 32px;
line-height: 38px;
}
@media (max-width: 474px) {
  font-size: 20px;
line-height: 24px;
 }
}
