.order {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  .header-order {
    padding: 30px 0;
    &__title {
      display: inline;
      font-family: "PTSans-bold";
      font-size: 32px;
      line-height: 41px;
      &._circle:before{
        content: '';
        display: inline-block;
        font-size: 32px;
        line-height: 41px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin: 5px 10px;
        background-color: #DDDDDD;
      }
    }
  }
  .main-order {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    @media (max-width: 904px) { 
      flex-wrap: wrap;
    }
    &__items {
      flex: 1 1 auto;
      overflow: hidden;
      margin: 0 90px 0 -24px;
    }
    &__content {
      max-width: 468px;
      border-bottom: 1px solid #DDDDDD;
      position: relative;
      padding-left: 24px;
      margin: 0 0 90px 0;
    }
    &__product {
      display: flex;
      margin: 28px 0;
      &:first-child {
        margin-top: 0;
      }
      img {
        width: 160px;
        @media (max-width: 435px) { 
          width: 90px;
        }
      }
      .product__title {
        display: block;
        width: 170px;
        margin-top: -5px;
        text-decoration: none;
      }
      .product__type {
        @media (max-width: 435px) { 
          margin: 3px 0;
        }
      }
    }
    &__description {
      margin-left: 16px;
    }
    &__sum {
      position: absolute;
      bottom: -68px;
      right: 0;
      text-align: right;
      .main-order__price {
        font-family: "PTSans-bold";
        font-size: 24px;
      }
      span {
        font-size: 13px;
      }
      @media (max-width: 904px) { 
        margin-left: 16px;
        right: auto;
        left: 10px;
        text-align: left;
      }
    }
    .form-block {
      flex: 1 1 auto;
      margin-left: 40px;
      @media (max-width: 904px) { 
        margin-left: 0;
      }
      &__field {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
          &:nth-child(3) {
             margin: 40px 0 30px 0;
          }
        } 
       &__label {
          display: inline-block;
          word-wrap: nowrap;
          width: 90px;
          height: 20px;
          margin: 8px 15px 5px 0;
          vertical-align: top;
          @media (max-width: 435px) { 
            width: 70px;
          }
        } 
        &__text {
          display: block;
          margin-left: 15px;
          margin-top: 3px;
          width: 262px;
          font-size: 13px;
          line-height: 17px;
          color: #666666; 
        } 
        &__input {
      background: #FBFBFB;
      border: 1px solid #DDDDDD;
      border-radius: 2px;
      box-sizing: border-box;
      padding: 7px 17px 7px 12px;
      min-width: 265px;
      min-height: 42px;
      &:focus {
        border: 1px solid #666666;
      }
      @media (min-width: 1199px) { 
        &:hover {
          border: 1px solid #666666;
        }
       }
      ::placeholder {
        font-family: "PTSans";
        color: #DDDDDD;
        font-size: 15px;
        line-height: 21px;
      }
    }
    } 
    .btn-block {
      background-color: #F2F2F2;
      max-width: 440px;
      max-height: 95px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin: -15px 0 0 -10px;
      padding: 24px;
      @media (max-width: 904px) { 
        flex-wrap: wrap;
        margin: 0 0 0 -16px;
        padding: 16px 0 30px 16px;
      }
      .btn-block__text {
        margin: 5px 40px 0 0;
        display: inline-block;
        p {
          font-size: 13px;
          line-height: 17px;
          margin: 0;
          color: #000;
        }
        .btn-block__del {
           max-width: 115px;
           @media (max-width: 904px) { 
            max-width: 200px;
          }
        }
        .btn-block__pay {
          max-width: 130px;
       }
      }
      button {
        font-family: "PTSans-bold";
        font-size: 16px;
        line-height: 21px;
        background: linear-gradient(180deg, #FFC908 0%, #FFBA08 100%);
        box-shadow: 0px 0px 15px rgba(255, 146, 17, 0.5);
        box-sizing: border-box;
        border-radius: 4px;
        padding: 10px 15px;
        @media (max-width: 904px) { 
          margin: 16px 0;
         }
       @media (min-width: 1199px) { 
            &:hover {
              box-shadow: none;
            }
        } 
      }
    }
  }
  .footer-order {
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 60px 0;
    font-size: 13px;
    line-height: 17px;
    color: #666666;
    &__copy, &__tel, &__mail  {
      margin: 0 24px 16px 0;
    }
    a {
      text-decoration-line: underline;
      @media (min-width: 1199px) { 
        &:hover {
       color: #4541FE;
      }
     }
    }
  }
}