mixin item(options={})
 - const {src,weight, price} = options
  .items__product
    a(href="#")
      img.items__img(src=src)
    .items__info
      .items__weight
        p Вес (量):
        span=weight
      .items__price
        p Цена (価格):
        span=price


.main__catalog._container
  .catalog-list
    ul(class="uk-tab" data-uk-tab="{connect:'#my-id'}")
      li 
        a(href="#").catalog-list__tab
          p.catalog-list__title Сенча
          span.catalog-list__text 煎茶
      li 
        a(href="#").catalog-list__tab
          p.catalog-list__title Ходзича
          span.catalog-list__text ほうじ茶
      li 
        a(href="#").catalog-list__tab
          p.catalog-list__title Генмайча
          span.catalog-list__text 玄米茶
      li 
        a(href="#").catalog-list__tab
          p.catalog-list__title Вакоча
          span.catalog-list__text 和紅茶
      li 
        a(href="#").catalog-list__tab
          p.catalog-list__title Матча
          span.catalog-list__text 沼津抹茶
    ul(id="my-id" class="uk-switcher" )
      li 
        .catalog-list__items.items
          +item({src:'../img/products/prod1.png',weight:'100г.', price:'800 ₽'})
          +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
          +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
          +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
      li
        .catalog-list__items.items
          +item({src:'../img/products/prod1.png',weight:'200г.', price:'800 ₽'})
          +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
          +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
          +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
      li
        .catalog-list__items.items
          +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
          +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
          +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
          +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
      li 
        .catalog-list__items.items
          +item({src:'../img/products/prod1.png',weight:'400г.', price:'800 ₽'})
          +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
          +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
          +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
      li
        .catalog-list__items.items
          +item({src:'../img/products/prod1.png',weight:'500г.', price:'800 ₽'})
          +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
          +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
          +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})