mixin item(options={})
 - const {src,weight, price} = options
  .items__product
    a(href="#")
      img.items__img(src=src)
    .items__info
      .items__weight
        p Вес (量):
        span=weight
      .items__price
        p Цена (価格):
        span=price


.main__catalog._container
  .tabs
    .tabs__nav_wrap
      .tabs__nav
        .tabs__link._active(data-value="1") Сенча
          span.tabs__text 煎茶
        .tabs__link(data-value="2") Ходзича
          span.tabs__text ほうじ茶
        .tabs__link(data-value="3")  Генмайча
          span.tabs__text 玄米茶
        .tabs__link(data-value="4")  Вакоча
          span.tabs__text 和紅茶
        .tabs__link(data-value="5")  Матча
          span.tabs__text 沼津抹茶
    .tabs__content_wrap
      .tabs__content
        .tab.tab--1.active
          .tabs__items.items
            +item({src:'../img/products/prod1.png',weight:'100г.', price:'800 ₽'})
            +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
            +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
            +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
        .tab.tab--2
          .tabs__items.items
            +item({src:'../img/products/prod1.png',weight:'200г.', price:'800 ₽'})
            +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
            +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
            +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
        .tab.tab--3
          .tabs__items.items
            +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
            +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
            +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
            +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
        .tab.tab--4
          .tabs__items.items
            +item({src:'../img/products/prod1.png',weight:'400г.', price:'800 ₽'})
            +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
            +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
            +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
        .tab.tab--5
          .tabs__items.items
            +item({src:'../img/products/prod1.png',weight:'500г.', price:'800 ₽'})
            +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
            +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})
            +item({src:'../img/products/prod1.png',weight:'300г.', price:'800 ₽'})