footer.footer
  .footer__content
    .footer__left-block
      a(href="index.html").footer__logo
        img(src="img/logo-white.png", alt="")
      .footer__contact
        a(href="tel:80000000000").footer__tel 8 (000) 000-0000
        a(href="mailto:info@niiru.ru").footer__mail info@niiru.ru
        a(href="#").footer__btn Связаться с нами
    .footer__menu.menu
      .menu__row
        .menu__column
          .menu__title 
            p Компания
            a(href="#")._open-list
            span
          ul.menu__list
            li
              a(href="#") О компании
            li
              a(href="#") Контакты
            li
              a(href="#") Новости
            li
              a(href="#") Инвесторам
            li
              a(href="#") Партнерам   
        .menu__column
          .menu__title 
            p Каталог
            a(href="#")._open-list
            span
          ul.menu__list
            li
              a(href="#") Сенча
            li
              a(href="#") Ходзича
            li
              a(href="#") Генмайча
            li
              a(href="#") Вакоча
            li
              a(href="#") Матча
      .menu__row
        .menu__column
          .menu__title 
            p Продукция
            a(href="#")._open-list
            span
          ul.menu__list
            li
              a(href="#") Сертификаты
            li
              a(href="#") Производство
            li
              a(href="#") Прайс-лист
        .menu__column
          .menu__title  
            p Клиентам
            a(href="#")._open-list
            span
          ul.menu__list
            li
              a(href="#") Вопрос / Ответ
            li
              a(href="#") Сервис и гарантия
            li
              a(href="#") Как выбрать?
            li
              a(href="#") Адреса дилеров
            li
              a(href="#") Отзывы
  .footer__bottom-content
    .footer__copy 
      p © Все права защищены. ООО “Нийру” 2020
      p © All Rights Reserved. 有限会社 NIIRU 2020
    .footer__logo-panda 
      img(src="../img/logo-panda.png", alt="")