header.header
  .header__container._container
     .header__top
       a(href="tel:80000000000").header__tel 8 (000) 000-0000
       a(href="mailto:info@niiru.ru").header__mail info@niiru.ru
     nav.header__menu
       a(href="index.html").header__logo
         img(src="img/logo.png", alt="")
       ul.header__list
         li.header__item 
           a.header__item-link(href="#") О компании
         li.header__item 
           a.header__item-link(href="#") Новости
         li.header__item._catalog
          a.header__item-link(href="#") Каталог
         li.header__item 
          a.header__item-link(href="#") Услуги
         li.header__item
           a.header__item-link(href="contacts.html") Контакты
         li.header__item._burger
           a(href="#menu-popup" class="menu__popap")
             img(src="img/icons/burger.svg")