header.header
  .header__content
      nav.header__menu._container
        a(href="index.html").header__title Фетч
        ul.header__list.js__nav-menu.scroll-end
          li.header__item 
            a.header__item-link(href="#") Одежда
          li.header__item 
            a.header__item-link(href="catalog.html") Обувь
          li.header__item 
           a.header__item-link(href="#") Аксессуары
          li.header__item 
           a.header__item-link(href="#") Блог
          li.header__item
            a.header__item-link(href="about.html") Магазин
          li.header__item 
            a.header__item-link(href="#") Доставка и оплата
        .header__shadow
        .header__order._filled
          a.header__cart-img(href="order.html")
          span.header__cart 4
          a.header__link-cart(href="order.html") Оформить заказ