header.header
  .header__content
    .js-menuScroll
      nav.header__menu._container(itemscope itemtype="http://schema.org/SiteNavigationElement")
        a(href="index.html" itemprop="url").header__title Фетч
        ul.header__list.js__nav-menu.scroll-end
          li.header__item 
            a.header__item-link(href="#" itemprop="url") Одежда
          li.header__item 
            a.header__item-link(href="catalog.html" itemprop="url") Обувь
          li.header__item 
           a.header__item-link(href="#" itemprop="url") Аксессуары
          li.header__item 
           a.header__item-link(href="#" itemprop="url") Блог
          li.header__item
            a.header__item-link(href="about.html" itemprop="url") Магазин
          li.header__item 
            a.header__item-link(href="#" itemprop="url") Доставка и оплата
        .header__shadow
        a(href="order.html" itemprop="url").header__order._filled
          span.header__cart-img
          span.header__cart 4
          span.header__link-cart Оформить заказ