.main__menu.menu._container
    .menu__row
      .menu__block
        img.menu__img(src='../img/about.jpg')
        .menu__info
          span.menu__subtitle компания
          h3.menu__title О компании
          p.menu__text 会社概要
      .menu__block
        img.menu__img(src='../img/partner-info.jpg')
        .menu__info
          span.menu__subtitle компания
          h3.menu__title Информация для партнеров
          p.menu__text パートナー向け情報
    .menu__block._big
      img.menu__img(src='../img/catalog.jpg')
      .menu__info
        span.menu__subtitle каталог
        h3.menu__title Чайная продукция
        .menu__block-bottom
          p.menu__text お茶の商品
          a(href="#").menu__btn Весь каталог
            span 