.main__partners.partners._container
    .partners__container
      .partners__info-block.info-block
        .partners__subtitle.subtitle наши партнеры
        .partners__title.title Наш опыт сотрудничества
        .partners__text.text 協力経験
      .partners__text-block
        p.partners__text-block_top За время работы нашими клиентами и партнерами стали крупнейшие оптовые и розничные предприятия Дальнего Востока
        span.partners__text-block_bottom 業務期間内、ロシア極東の大手の卸売、小売企業が弊社の顧<br class="_media2">客<br class="_media1">又パートナーになってきました。
    .partners__logo
      .partners__img
        img(src="../img/logo/logo-burger.png", alt="", srcset="")
      .partners__img
        img(src="../img/logo/logo-otkr.png", alt="", srcset="")
      .partners__img
        img(src="../img/logo/logo-sber.png", alt="", srcset="")
      .partners__img
        img(src="../img/logo/logo-voentorg.png", alt="", srcset="")
      .partners__img
        img(src="../img/logo/logo-vtb.png", alt="", srcset="")