script(type="text/javascript" src="js/lib/jquery-3.5.1.slim.min.js")
script(type="text/javascript" src="js/lib/uikit.js")
script(type="text/javascript" src="js/lib/dinamic.js")
script(type="text/javascript" src="js/lib/jquery.lazy.min.js")
script(type="text/javascript" src="js/lib/slick.min.js")
script(type="text/javascript" src="js/lib/magnific.js")
script(type="text/javascript" src="js/bundle.js")