.header__slider.js__slider
  .slider-item
    img(srcset="../img/image4_mob.png 321w, ../img/image2_mid.jpg 768w, ../img/image2.jpg 1440w" sizes="(max-width: 350px) 320px, (max-width: 768px) 768px, 1440px" src="../img/image2.jpg" class="slider-item__image" alt="")
    h2.slider-item__title
       a.slider-item__link Reebok Aztrek <br> Double
  .slider-item
    img(srcset="../img/image1_mob.png 320w, ../img/image1_mid.png 768w, ../img/image1.png 1440w" sizes="(max-width: 350px) 320px, (max-width: 768px) 768px, 1440px" src="../img/image1.png" class="slider-item__image _dark" alt="")
    h2.slider-item__title._white
      a.slider-item__link Распродажа <br> до −15%
  .slider-item
    img(srcset="../img/image3_mob.png 321w, ../img/image3_mid.png 768w, ../img/image3.png 1440w" sizes="(max-width: 350px) 320px, (max-width: 768px) 768px, 1440px" src="../img/image3.png" class="slider-item__image _gradient" alt="")
    h2.slider-item__title._white
      a.slider-item__link Nike ACG: навстречу <br>  новым открытиям
  