.header__slider.slider.js__slider
      .slider__item
        img(src='../img/slider-item/bg1.jpg')
        .slider__info-container
          .slider__info
            h2.slider__title Международная торговая компания
              span 国際商社
            .slider__text 
              p Компания «Нийру» является торговой компанией, базирующейся в Токио, Япония. Основным направлением деятельности компании является экспорт оригинальной японской продукции на рынки стран СНГ.
              p ニール有限会社は、日本、東京にある商社で<br class="_media3">す。<br class="_media2">弊社の主な専<br class="_media1">門は、オリジナル日本製商<br class="_media3">品をCIS<br class="_media2">の市場に輸出することです。
      .slider__item
        img(src='../img/slider-item/bg1.jpg')
        .slider__info-container
          .slider__info
            h2.slider__title Международная торговая компания
              span 国際商社
            .slider__text 
              p Компания «Нийру» является торговой компанией, базирующейся в Токио, Япония. Основным направлением деятельности компании является экспорт оригинальной японской продукции на рынки стран СНГ.
              p ニール有限会社は、日本、東京にある商社で<br class="_media3">す。<br class="_media2">弊社の主な専<br class="_media1">門は、オリジナル日本製商<br class="_media3">品をCIS<br class="_media2">の市場に輸出することです。
      .slider__item
        img(src='../img/slider-item/bg1.jpg')
        .slider__info-container
          .slider__info
            h2.slider__title Международная торговая компания
              span 国際商社
            .slider__text 
              p Компания «Нийру» является торговой компанией, базирующейся в Токио, Япония. Основным направлением деятельности компании является экспорт оригинальной японской продукции на рынки стран СНГ.
              p ニール有限会社は、日本、東京にある商社で<br class="_media3">す。<br class="_media2">弊社の主な専<br class="_media1">門は、オリジナル日本製商<br class="_media3">品をCIS<br class="_media2">の市場に輸出することです。
.slider__nav-container
  .slider__nav