doctype html
html(lang="ru")
  include blocks/head.pug
  body
    include blocks/header.pug
    include blocks/slider.pug
    include blocks/main.pug
    include blocks/footer.pug
    include blocks/scripts.pug
    script(type="text/javascript" src="js/lib/tabs.js")
    