doctype html
html(lang="ru")
  include blocks/head.pug
  body
    include blocks/header.pug
    include blocks/slider.pug
    main.main
     .main__container._container
      section.main__top.main-top
        .main-top__description
          p <b>Фетч</b> — мультибрендовый магазин модной одежды.
          p Следим за трендами и часто обновляем ассортимент.
          p Доставляем по Москве за день, по России — за неделю.
        .main-top__catalog.catalog-block
          ul.catalog-block__formen
            a(href="#").catalog-block__title   Для мужчин
            li
              a(href="") Верхняя одежда
            li
              a(href="") Рубашки и поло
            li
              a(href="") Трикотаж
            li
              a(href="") Брюки и джинсы
            li
              a(href="") Бельё и носки    
          ul.catalog-block__forwomen
            a(href="#").catalog-block__title Для женщин
            li
              a(href="") Верхняя одежда
            li
              a(href="") Рубашки и поло
            li
              a(href="") Трикотаж
            li
              a(href="") Платья и юбки
            li
              a(href="") Бельё и носки  
          ul.catalog-block__shoes
            a(href="#").catalog-block__title  Обувь
            li
              a(href="") Кроссовки и кеды
            li
              a(href="") Ботинки
          ul.catalog-block__accessories
            a(href="#").catalog-block__title  Аксессуары
            li
              a(href="") Сумки и рюкзаки
            li
              a(href="") Часы
            li
              a(href="") Бижутерия
            li
              a(href="") Средства для ухода
          ul.catalog-block__sale
            a(href="#").catalog-block__title  Скидки
            li
              a(href="") Летняя распродажа
            li
              a(href="") Коллекция 2018
      section.main__content
        .main__row
          .main__column
            .main__lookbook
              .main__title
                a(href="#") Лукбук, лето 2019
                p.main__text Стильные образы для тёплых деньков
              .main__img 
                img.js-lazy(data-src="../img/lookbook.png", alt="")
            .main__editor-choice._white
              .main__title
                a(href="#") Выбор редакции: часы
                p.main__text ТОП-5 лучших предложений по версии <br>     администрации Фетч
          .main__column
            .main__collection
              .main__title
                a Новая коллекция adidas   Originals
                p.main__text Десять крутейших кроссовок
              .main__img
                img.js-lazy(data-src="../img/adidasOr.png", alt="")
        .main__row
          .main__pre-order
            .main__title
              a(href="#") Предзаказ: Maison Margiela Fusion
              p.main__text От 92 000 ₽
            .main__img 
              img.js-lazy(data-src="../img/maison1.png", alt="")
    
    include blocks/footer.pug
    include blocks/scripts.pug