doctype html
html(lang="ru")
  include blocks/head.pug
  body
    .wrapper
      include blocks/header.pug
      include blocks/slider.pug
      include blocks/main.pug
      include blocks/footer.pug
      include blocks/scripts.pug