- const sliderItems = [{src:"img/slider-item/p1.png", srcMin:'img/slider-item/p1-min.jpg'}, {src:"img/slider-item/p1.png", srcMin:'img/slider-item/p1-min.jpg'},{src:"img/slider-item/p1.png", srcMin:'img/slider-item/p1-min.jpg'},{src:"img/slider-item/p1.png", srcMin:'img/slider-item/p1-min.jpg'}]

doctype html
html(lang="ru")
  include blocks/head.pug
  body
    include blocks/header.pug  
    //.item__pictures._container
      img(src="img/picture/Rectangle 247.jpg", alt="").picture1
      img(src="img/picture/Rectangle 245.jpg", alt="").picture2
      img(src="img/picture/Rectangle 246.jpg", alt="").picture3
      img(src="img/picture/Rectangle 248.jpg", alt="").picture4
      img(src="img/picture/Rectangle 249.jpg", alt="").picture5
      img(src="img/picture/Rectangle 250.jpg", alt="").picture6
    .item__bg._bg
      img(src='img/item-bg.jpg')
    .item._container._container
      .item__content
        .item__breadcrumb.breadcrumb
          ul.uk-breadcrumb
            li.breadcrumb__home
              a(href="#") 
                span
            li.breadcrumb__catalog
              a(href="#") Каталог
            li.breadcrumb__tea
              a(href="#") Чай
            li.breadcrumb__item
              a(href="#") Ходзича
            li.breadcrumb__quantity
              a(href="#") 3г x 7
        .item__product.item__line
          .item__slider
            .item__slider-for.js__slider-for
              for item in sliderItems
                .item__.product__item
                  img(src=item.src)
            .item__slider-nav.js__slider-nav
                for item in sliderItems
                  .item__.product__item
                    img(src=item.srcMin)
          .item__right-block.right-block
            .right-block__title.item__line
              h2 Ходзича
              p ほうじ茶
            .item__price.price
              span.price__old 800 ₽
              span.price__active 700 ₽
            .item__text.item__line
              p Метод обжарки, подходящих для каждого типа чая, такие как форма,   твердость и размер чайных листьев."Жареный песок" – это особенная обжарка чая. 
              p 茶葉の形状・堅さ・大きさ等、茶葉ごとに適した二種類の焙煎方<br>法「直火」「砂炒り」によるこだわり焙煎です。<br>直火焙煎」の窯は地域で一番の大きさで、強い火力で一気に仕上げる<br>ため苦みが少なく、<br>香り高くて甘みのあるさっぱりとした味わいです。
            .item__btn-block
              .item__counter
                span.counter__minus &mdash;
                input(type="text" name="quantity" value="1" readonly)
                span.counter__plus +
              button.item__like
                span
              button.item__cart В корзину
            form.item__form(action="#")
                input(type="radio", name="color", id="pink", value="pink" checked)
                label(for="pink") 
                  span 3г х 7 пакетиков
                  span 3г х 7 個入り
                input(type="radio", name="color",id="green", value="green")
                label(for="green") 
                  span 3г х 7 пакетиков
                  span 3г х 7 個入り
        include blocks/icons.pug 
    .item__info.info._container
        ul(class="uk-tab info__tabs" data-uk-tab="{connect:'#info'}")
          li 
            a(href="#").info__tab
              p.info__title Описание
              span.info__text 詳細
          li 
            a(href="#").info__tab
              p.info__title Как заваривать
              span.info__text お茶の飲み方
          li 
            a(href="#").info__tab
              p.info__title Отзывы (14)
              span.info__text フィードバック (14)
          li 
            a(href="#").info__tab
              p.info__title О производителе
              span.info__text メーカー情報
          li 
            a(href="#").info__tab
              p.info__title Доставка
              span.info__text 配達過程
        ul(id="info" class="uk-switcher")
          li.info__item.description
            img(src="img/about.jpg", alt="")
            .description__content
              .description__text
                p.description__text-top В сухом виде – мелкие, тонкие, сплюснутые трубочки скрученных   листиков и их фрагменты коричневых тонов, а также тонкие черенки. Аромат сухого чая   сладковатый, хлебно-пряный, с кофейными нотками. Настой прозрачный, темного абрикосового   оттенка.
                p.description__text-bottom ロシア連邦及びCISの地域において製造者による<br>オリジナル日本商品販  売
          li.info__item.description
            img(src="img/about.jpg", alt="")
            .description__content
              .description__text
                p.description__text-top В сухом виде – мелкие, тонкие, сплюснутые трубочки скрученных   листиков и их фрагменты коричневых тонов, а также тонкие черенки. Аромат сухого чая   сладковатый, хлебно-пряный, с кофейными нотками. Настой прозрачный, темного абрикосового   оттенка.
                p.description__text-bottom ロシア連邦及びCISの地域において製造者による<br>オリジナル日本商品販  売
          li.info__item.description
            img(src="img/about.jpg", alt="")
            .description__content
              .description__text
                p.description__text-top В сухом виде – мелкие, тонкие, сплюснутые трубочки скрученных   листиков и их фрагменты коричневых тонов, а также тонкие черенки. Аромат сухого чая   сладковатый, хлебно-пряный, с кофейными нотками. Настой прозрачный, темного абрикосового   оттенка.
                p.description__text-bottom ロシア連邦及びCISの地域において製造者による<br>オリジナル日本商品販  売
          li.info__item.description
            img(src="img/about.jpg", alt="")
            .description__content
              .description__text
                p.description__text-top В сухом виде – мелкие, тонкие, сплюснутые трубочки скрученных   листиков и их фрагменты коричневых тонов, а также тонкие черенки. Аромат сухого чая   сладковатый, хлебно-пряный, с кофейными нотками. Настой прозрачный, темного абрикосового   оттенка.
                p.description__text-bottom ロシア連邦及びCISの地域において製造者による<br>オリジナル日本商品販  売
          li.info__item.description
            img(src="img/about.jpg", alt="")
            .description__content
              .description__text
                p.description__text-top В сухом виде – мелкие, тонкие, сплюснутые трубочки скрученных   листиков и их фрагменты коричневых тонов, а также тонкие черенки. Аромат сухого чая   сладковатый, хлебно-пряный, с кофейными нотками. Настой прозрачный, темного абрикосового   оттенка.
                p.description__text-bottom ロシア連邦及びCISの地域において製造者による<br>オリジナル日本商品販  売
    .item__similar.similar._container
      h2.similar__title.item__title Похожая продукция
      p.similar__subtitle.item__subtitle 同様な商品
      .similar__blocks
        .similar__block
          img(src="img/similar1.jpg", alt="")
          .similar__name
            p Генмайча
            span 玄米茶
        .similar__block
          img(src="img/similar2.jpg", alt="")
          .similar__name
            p Вакоча
            span 和紅茶
        .similar__block
          img(src="img/similar3.jpg", alt="")
          .similar__name
            p Матча
            span 沼津抹茶
        .similar__block
          img(src="img/similar4.jpg", alt="")
          .similar__name
            p Сенча
            span 煎茶
    
    include blocks/footer.pug         
    include blocks/scripts.pug  
    

