@font-face {
  font-display: swap;
  font-family: "PTSans-bold";
  font-weight: bold;
  src: local("PTSans"),
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "PTSans";
  src: local("PTSans"),
    url("../fonts/pt_sans_regular.woff2") format("woff2"),
    url("../fonts/pt_sans_regular.woff") format("woff");
}

.main {
  .main-top {
    display: flex;
    @media (max-width: 765px){ 
      flex-wrap: wrap;
     }
    &__description {
      max-width: 230px;
      font-size: 18px;
      line-height: 23px;
      margin: 0 55px 0 0;
      @media (max-width: 1199px) { 
        margin: 0 5px 0 20px;
      }
      @media (max-width: 765px){ 
        max-width: 100%;
        margin-bottom: 30px;
        p {
          margin: 5px 0 0 0;
        }
       }
      p {
       padding: 0px 0;  
       margin: 17px 0 0 0;     
      &:first-child {
        margin: 0;
        padding: 0;
      }
      }
    }
    &__catalog {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: flex-start;
    ul {
      margin: 0 30px 0 0;
      padding: 0;
      list-style: none;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      color: #4541FE;
      @media (min-width: 1199px) { 
       a:hover {
         color: #363591;
       }
      }
      &._title {
        text-decoration: underline;
      }
      li {
        padding: 8px 0 0 10px;
        &:first-child {
          padding: 12x 0 0 8px;
        }
        a {
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        text-decoration: underline;
        
      }
      }
    }
    @media (max-width: 765px){ 
      margin: 0 0 0 5px;
     }
    @media (max-width: 1199px) { 
      ul {
       margin: 0 6px 20px 10px;
       &:last-child {
         margin-bottom: 0;
       }
      }
    }
    }
  }
  &__content {
    margin: 64px 0;
    display: flex;
    flex-direction: column;
    @media (max-width: 1199px) { 
      margin-bottom: 0;
    }
    @media (max-width: 649px) { 
    overflow: hidden;
    }
  }
  &__row {
    display: flex;
    margin-bottom: 20px;
    @media (max-width: 1199px) { 
      flex-wrap: wrap;
    }
    @media (max-width: 892px) { 
      margin-bottom: 0;
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 0;
    @media (max-width: 1199px) { 
      flex: 1 1 auto;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0;
    }
  }
  &__title {
    padding: 24px 0 0 16px;  
    position: relative;
    z-index: 10;
    a {
    font-family: "PTSans-bold";  
    font-size: 32px;
    line-height: 41px;
    text-decoration-line: underline;
    }  
    @media (min-width: 1199px) { 
      a:hover {
       color: #4541FE;
      }
    }
  }
  ._white {
      color: white;
    }
  &__text {
    margin: 8px 0 0 15px;
    font-size: 16px;
    line-height: 21px;
    position: relative;
    z-index: 10;
  }
  &__lookbook {
    position: relative;
    background-color: #FFA88C;
    min-width: 470px;
    min-height: 320px;
    margin-bottom: 25px;
    flex: 1 1 auto;
    img {
      position: absolute;
      top: 50px;
      left: 10px;
    }
    @media (max-width: 1199px) { 
      margin-right: 10px;
    }
    @media (max-width: 892px) { 
      margin: 0;
    }
    @media (max-width: 515px) { 
      min-height: 370px;
      img {
        top: 80px;
        left: -75px;
      }
    }
  }
  &__editor-choice {
    background-color: #7482FF;
    min-height: 160px;
    min-width: 320px;
    margin-bottom: 20px;
    flex: 1 1 auto;
    @media (max-width: 892px) { 
      margin-bottom: 0;
    }
    @media (max-width: 515px) { 
      padding-bottom: 30px;
      .main__title {
        width: 320px;
      }
    }
  }
  &__collection{
    background-color: #FFE9FD;
    min-height: 500px;
    min-width: 640px;
    position: relative;
    img {
      position: absolute;
      top: 10px;
      left: 20px;
    }
    @media (max-width: 1199px) { 
      width: 100%;
      min-width: 320px;
    }
    @media (max-width: 515px) { 
      min-height: 330px;
      img {
        width: 350px;
        top: 80px;
      }
    }
  }
  &__pre-order {
    flex: 1 1 auto;
    min-height: 480px;
    min-width: 480px;
    position: relative;
    background-color: #F3F3F3;
    overflow: hidden;
    .main__title {
      position: relative;
      z-index: 10;
    }
    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    @media (max-width: 515px) {
      min-height: 460px;
      .main__title {
        width: 320px;
      }
      img {
        width: 110%;
        top: 180px;
        left: -60px;
        transform: translateX(-60px);
        transform: rotate(30deg);
      }
    }
  }
}