@import url("header.css");
@import url("footer.css");
@import url("slider.css");
@import url('main-page/main.css');
@import url("item.css");
@import url("contacts.css");
@import url("about.css");

@font-face {
  font-display: swap;
  font-family: "Rubik";
  src: local("Rubik"),
    url("../fonts/Rubik-Regular.woff2") format("woff2"),
    url("../fonts/Rubik-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  src: local("Rubik"),
    url("../fonts/Rubik-Medium.woff2") format("woff2"),
    url("../fonts/Rubik-Medium.woff") format("woff");
    font-weight: 500;
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  src: local("Rubik"),
    url("../fonts/Rubik-Bold.woff2") format("woff2"),
    url("../fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  src: local("Inter"),
    url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  src: local("Inter"),
    url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
    font-weight: 500;
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  src: local("Inter"),
    url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: local("Roboto"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: local("Roboto"),
    url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik";
  background: #F0F1F3;
  position: relative;
  z-index: -2;
}

._container {
  max-width: 1480px;
  margin: 0 auto;
  @media (max-width: 1500px) {
    max-width: 98.5%;
    margin: 0 15px;
  }
}

button,
a {
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
}

input,
textarea, fieldset {
  border: none;
  outline: none;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}